.button
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;
    text-wrap: none;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 10px;
    transition: 1s;
}
    
.button:hover
{
    scale: 1.05;
}

@media (min-width: 750px)
{
    .button
    {
        padding: 20px 30px;
        font-size: 21px;
    }
        
    .button:hover
    {
        scale: 1.05;
    }
}