.first-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100vw;
  padding: 5vh 5vw;
}
.first-article h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
.first-article a {
  text-decoration: none;
  border: none;
  color: white;
}
.first-article .mySlides {
  display: none;
  width: 90vw;
}
.first-article .mySlides img {
  vertical-align: middle;
  border-radius: 10px;
  height: 60vh;
}
.first-article .slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  height: 60vh;
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 2px;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.first-article .titleMar {
  margin-top: 20px;
}
.first-article .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.first-article .carousel-button.prev {
  left: 10px;
}
.first-article .carousel-button.next {
  right: 10px;
}
.first-article .dot {
  background-color: rgb(201, 201, 201);
  padding: 1px 10px;
  margin: 5px;
  border-radius: 100%;
  cursor: pointer;
}
.first-article .active {
  background-color: black;
}
.first-article .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.second-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  text-align: center;
  color: white;
  padding: 2vh 0;
}
.second-article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
}
.second-article div img {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}
.second-article div div {
  margin: 0;
}
.second-article div div h1 {
  font-size: 30px;
}
.second-article div div h2 {
  font-size: 18px;
}

.fourth-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 3vw;
}
.fourth-article h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 5vh;
}
.fourth-article img {
  width: 90vw;
  height: 30vh;
  margin: 5vh auto;
  border-radius: 10px;
}
.fourth-article h2 {
  font-size: 16px;
  text-align: center;
}

@media (min-width: 550px) {
  .second-article {
    flex-direction: row;
    justify-content: space-around;
  }
  .third-article hr {
    margin: 10px 0 20px;
  }
  .third-article div {
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
  }
}
@media (min-width: 650px) {
  .first-article .mySlides {
    display: none;
    width: 80vw;
  }
  .first-article .mySlides img {
    height: 80vh;
  }
  .first-article .slideshow-container {
    max-width: 80vw;
    height: 80vh;
  }
  .second-article div {
    width: 30vw;
  }
  .third-article hr {
    margin: 10px 0 20px;
  }
  .third-article div {
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
  }
  .fourth-article img {
    width: 70vw;
    height: 45vh;
  }
}
@media (min-width: 1000px) {
  .first-article .mySlides {
    display: none;
    width: 40vw;
  }
  .first-article .mySlides img {
    height: 90vh;
  }
  .first-article .slideshow-container {
    max-width: 40vw;
    height: 90vh;
  }
  .second-article div img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
  }
  .second-article div div h1 {
    font-size: 30px;
  }
  .second-article div div h2 {
    font-size: 22px;
  }
  .fourth-article h1 {
    font-size: 30px;
  }
  .fourth-article img {
    width: 50vw;
    height: 50vh;
    margin: 5vh auto;
    border-radius: 10px;
  }
  .fourth-article h2 {
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: 1300px) {
  .second-article div img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }
  .second-article div div h1 {
    font-size: 34px;
  }
  .second-article div div h2 {
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */