.first-article {
  padding: 5vh 5vw;
}
.first-article h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
.first-article .carousel {
  position: relative;
  width: 100vw;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}
.first-article .carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.first-article .carousel-images a img {
  width: 90vw;
}
.first-article .carousel-image {
  min-width: 100%;
  height: 350px;
  box-sizing: border-box;
  border-radius: 10px;
}
.first-article .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.first-article .carousel-button.prev {
  left: 10px;
}
.first-article .carousel-button.next {
  right: 10px;
}
.first-article .carousel-indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}
.first-article .indicator {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}
.first-article .indicator.active {
  background-color: rgb(0, 0, 0);
}

.second-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  text-align: center;
  color: white;
  padding: 2vh 0;
}
.second-article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
}
.second-article div img {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}
.second-article div div {
  margin: 0;
}
.second-article div div h1 {
  font-size: 30px;
}
.second-article div div h2 {
  font-size: 18px;
}

.fourth-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 3vw;
}
.fourth-article h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 5vh;
}
.fourth-article img {
  width: 90vw;
  height: 30vh;
  margin: 5vh auto;
  border-radius: 10px;
}
.fourth-article h2 {
  font-size: 16px;
  text-align: center;
}

@media (min-width: 550px) {
  .second-article {
    flex-direction: row;
    justify-content: space-around;
  }
  .third-article hr {
    margin: 10px 0 20px;
  }
  .third-article div {
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
  }
}
@media (min-width: 650px) {
  .first-article .carousel-image {
    width: 80%;
    height: 80vh;
  }
  .second-article div {
    width: 30vw;
  }
  .third-article hr {
    margin: 10px 0 20px;
  }
  .third-article div {
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
  }
  .fourth-article img {
    width: 70vw;
    height: 45vh;
  }
}
@media (min-width: 1000px) {
  .second-article div img {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
  }
  .second-article div div h1 {
    font-size: 32px;
  }
  .second-article div div h2 {
    font-size: 24px;
  }
  .fourth-article h1 {
    font-size: 30px;
  }
  .fourth-article img {
    width: 60vw;
    height: 40vh;
    margin: 5vh auto;
    border-radius: 10px;
  }
  .fourth-article h2 {
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: 1300px) {
  .second-article div img {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
  }
  .second-article div div h1 {
    font-size: 36px;
  }
  .second-article div div h2 {
    font-size: 26px;
  }
}/*# sourceMappingURL=style.css.map */