$borda: 1px solid red;

.first-article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    width: 100vw;    
    padding: 5vh 5vw;

    h1
    {
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    a
    {
        text-decoration: none;
        border: none;
        color: white;
    }
    
    .mySlides {
        display: none;
        width: 90vw;
    
    }
    .mySlides img {vertical-align: middle;
    border-radius: 10px;}
    
    .slideshow-container 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90vw;
        position: relative;
        margin: auto;
        box-shadow: 0px 0px 2px;
        border-radius: 10px;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    
    .titleMar {
        margin-top: 20px;
    }

    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
      
      .carousel-button.prev {
        left: 10px;
      }
      
      .carousel-button.next {
        right: 10px;
      }
    
    .dot
    {
        background-color: rgb(201, 201, 201);
        padding: 1px 10px;
        margin: 5px;
        border-radius: 100%;
        cursor: pointer;
    }
    
    .active
    {
        background-color: black;
    }
    
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
    
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }    
}

.first-second-article
{
    display: none;
}

.second-article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
    color: white;
    padding: 2vh 0;
    
    div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5vh 0;

        img
        {
            width: 70px;
            height: 70px;
            margin-bottom: 5px;
        }

        div
        {
            margin: 0;

            h1
            {
                font-size: 30px;
            }

            h2
            {
                font-size: 18px;
            }
        }
    }
}

// .third-article
// {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     padding: 10vh 0;

//     h1
//     {
//         font-size: 24px;
//     }

//     hr
//     {
//         background-color: black;
//         width: 80vw;
//         height: 3px;
//         border-radius: 100%;
//         margin: 10px 0 40px;
//     }

//     div
//     {
//         display: flex;
//         flex-direction: column;

//         .news
//         {
//             display: flex;
//             flex-direction: column;
//             margin-bottom: 30px;
//             text-decoration: none;
//             color: black;

//             h2
//             {
//                 font-size: 12px;
//                 margin-right: 5px;
//                 text-align: right;
//             }

//             img
//             {
//                 width: 150px;
//                 height: 120px;
//                 margin: 0 auto;
//                 border-radius: 10px;
//                 border: 1px solid black;
//             }

//             h3
//             {
//                 font-size: 20px;
//                 text-align: center;
//             }
//         }
//     }
// }

.fourth-article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh 3vw;

    h1
    {
        font-size: 24px;
        text-align: center;
        margin-bottom: 5vh;
        font-weight: bold;
    }

    img
    {
        width: 90vw;
        margin: 5vh auto;
        border-radius: 10px;
    }

    h2
    {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
    } 
}

@media (min-width: 550px)
{
    .second-article
    {
        flex-direction: row;
        justify-content: space-around;
    }

    .third-article
    {
        hr
        {
            margin: 10px 0 20px;
        }

        div
        {
            flex-direction: row;
            justify-content: space-between;
            width: 90vw;
        }
    }
}

@media (min-width: 650px)
{
    .first-article
    {
        .mySlides {
            display: none;
            width: 80vw;
        
        }

        
        .slideshow-container 
        {
            max-width: 80vw;
        }
    }

    .second-article
    {
        div
        {
            width: 30vw;
        }
    }

    .third-article
    {
        hr
        {
            margin: 10px 0 20px;
        }

        div
        {
            flex-direction: row;
            justify-content: space-between;
            width: 90vw;
        }
    }

    .fourth-article
    {
        
        img
        {
            width: 70vw;
        }   
    }
}

@media (min-width: 1000px)
{
    main
    {
        overflow: hidden;
    }

    .first-article
    {
       display: none;
    }

    .first-second-article
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0vw;

        h1
        {
            margin-bottom: 50px;
            font-size: 36px;
            font-weight: bold;
        }

        div
        {
            display: flex;
            width: 100vw;
            justify-content: space-evenly;
            margin-bottom: 50px;

            a
            {
                img
                {
                    width: 30vw;
                    border-radius: 20px;
                }

                transition: 1s;
            }
            

            a:hover
            {
                scale: 1.02;
            }
        }

    }

    .second-article
    {
        div
        {
            img
            {
                width: 80px;
                height: 80px;
                margin-bottom: 5px;
            }

            div
            {
                h1
                {
                    font-size: 26px;
                }

                h2
                {
                    font-size: 22px;
                }
            }
        }
    }

    .fourth-article
    {
        h1
        {
            font-size: 30px;
        }

        img
        {
            width: 50vw;
            margin: 5vh auto;
            border-radius: 10px;
        }

        h2
        {
            font-size: 16px;
            text-align: center;
        } 
    }
}

@media (min-width: 1300px)
{
    .second-article
    {
        div
        {
            img
            {
                width: 100px;
                height: 100px;
                margin-bottom: 5px;
            }

            div
            {
                h1
                {
                    font-size: 34px;
                }

                h2
                {
                    font-size: 24px;
                }
            }
        }
    }
}