header
{
    background-color: #636363;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;

    img
    {
        width: 120px;
        height: 80px;
    }

    nav
    {
        display: none;
    }
}