$font:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

header
{
    font-family: $font;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 2vh 0;

    img
    {
        width: 130px;
        height: 80px;
    }

    nav
    {
        display: none;

        ul
        {
            display: flex;

            li
            {
                a
                {
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 18px;
                    margin: 0 12px;
                }

                a::after
                {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 0;
                    height: 3px;
                    background-color: #ffffff;
                    transition: width 0.5s ease-in-out;
                }

                a:hover::after
                {
                    width: 100%;
                }
            }
        }
    }
}

footer
{
    font-family: $font;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 3vh;

    .div-principal-footer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;

        div
        {
            img
            {
                width: 130px;
                height: 80px;
            }

            div
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 10px 0 5vh;

                img
                {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    margin: 0 5px;
                    border: 2px solid white;
                }
            }
        }

        ul
        {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            li
            {
                margin-bottom: 12px;

                a
                {
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 16px;
                    margin: 0 12px;
                }

                a::after
                {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 0;
                    height: 3px;
                    background-color: #ffffff;
                    transition: width 0.5s ease-in-out;
                }

                a:hover::after
                {
                    width: 100%;
                }
            }
        }
    }

    p
    {
        color: white;
        font-size: 14px;
        margin: 2vh 0;

        a
        {
            text-decoration: none;
            color: white;
            text-decoration: underline;
        }
    }
}

@media (min-width: 750px)
{
    header
    {
        justify-content: space-around;
        padding: 4vh 5vw;

        nav
        {
            display: block;
        }
    }

    footer
    {
        padding-top: 8vh;
        .div-principal-footer
        {
            flex-direction: row;
            width: 100vw;
            padding: 0 8vw;

            div
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 28vw;
            }

            ul
            {
                width: 28vw;
                justify-content: start;

                li
                {
                    margin: 0 auto;
                    margin-bottom: 10px;

                    a
                    {
                        text-decoration: none;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1000px)
{
    header
    {
        padding: 5vh 0 5vh 6vw;

        img
        {
            width: 150px;
            height: 100px;
        }
        nav
        {
            ul
            {
                li
                {
                    a
                    {
                        font-size: 24px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    footer
    {
        .div-principal-footer
        {
            div
            {
                img
                {
                    width: 150px;
                    height: 100px;
                }
                div
                {
                    img
                    {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            ul
            {
                li
                {
                    a
                    {
                        font-size: 22px;
                    }
                }
            }
        }

        p
        {
            font-size: 16px;
        }
    }
}

@media (min-width: 1400px)
{
    header
    {
        img
        {
            width: 230px;
            height: 150px;
        }
        nav
        {
            ul
            {
                li
                {
                    a
                    {
                        font-size: 28px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    footer
    {
        .div-principal-footer
        {
            div
            {
                img
                {
                    width: 230px;
                    height: 150px;
                }
                div
                {
                    img
                    {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
            ul
            {
                li
                {
                    a
                    {
                        font-size: 28px;
                    }
                }
            }
        }

        p
        {
            font-size: 20px;
        }
    }
}